nav#navigation
    div.menu-list
        div.logo-wrapper: img(src=`${pathToImg}logo.png` alt='logo')
        h2.title WoodenWoody
        div.menu-links
            a.menu-links__link(href='#home')
                span.link-name Home
                span.link-label Some info
            a.menu-links__link(href='#about')
                span.link-name About
                span.link-label Some info
            a.menu-links__link(href='#')
                span.link-name Smth else
                span.link-label Some info
    div.menu-button
        div.menu-button__parts