#navigation
  display: flex
  flex-direction: column
  width: 240px
  padding: 25px
  background-color: #fff
  .menu-list
    //smth
    .logo-wrapper
      margin-bottom: 17px
    .menu-links
      display: flex
      flex-direction: column
      &__link
        @include link-style($margin-top-bottom: 7px)
        &.active
          color: #000
          font-weight: bold
          text-decoration: none
        &.hot
          display: flex
          align-self: flex-start
          color: $colorPink
          font-weight: bold
          &::before
            content: url("../img/help-icon.svg") // динамика
            margin-right: 5px
    .menu-button
      display: flex
      align-items: center
      margin-top: 40px
      padding: 7px 20px
      border-radius: $borderRadius
      background: $gradientGreen
      color: #fff
      font-size: $textNormal
      font-weight: bold
      &::before
        content: url("../img/bottle-ico.svg") // динамика
        margin-right: 5px
