nav#navigation
    div.menu-list
        div.logo-wrapper: img(src='./img/logo.svg' alt='logo')
        div.menu-links
            a.menu-links__link(href='#') Вопрос-ответ
            a.menu-links__link(href='#') Сообщества
            a.menu-links__link.active(href='#') Зачатие
            a.menu-links__link(href='#') Дети до года
            a.menu-links__link(href='#') От года до трёх
            a.menu-links__link(href='#') От трёх до шести
            a.menu-links__link(href='#') Школьники
            a.menu-links__link(href='#') Семейное здоровье
            a.menu-links__link.hot(href='#') Покупки
            a.menu-links__link(href='#') Мода