.slider
  margin-top: 30px
  padding: 30px
  border-radius: $borderRadius
  background-color: $color3
  &__top-part,
  &__main-part
    display: flex
  .slider-text
    align-items: center
    justify-content: space-between
    margin-bottom: 18px
    color: #fff
    &__title
      font-size: $textBig
    &__link
      color: #fff
      font-size: $textNormal
  &__main-part
    //smth
    .slider-block
      display: flex
      flex-direction: column
      align-items: center
      width: 210px
      height: 330px
      margin-right: 20px
      padding: 20px 15px
      background-color: #fff
      text-align: center
      &__image
        margin: auto 0
      .slider-info
        //smth
        &__link
          margin-bottom: 30px
          padding: 5px 15px
          border-radius: $borderRadius
          background-color: #00cb76
          color: #fff
          font-size: $textNormal
          line-height: 20px
          text-align: center
        &__service-name
          margin-top: 30px
          margin-bottom: 25px
          font-size: $textNormal
          line-height: 22px
        &__city-name
          font-size: $textSmall
          line-height: 20px