section.slider
    div.slider__top-part.slider-text
        h2.slider-text__title Скидки и спецпредложения в клиниках
        a.slider-text__link(href='#') Посмотреть все скидки в вашем городе
    div.slider__main-part
        div.slider-block
            img.slider-block__image(src='./img/slider-img-1.svg' alt='slider image 1')
            div.slider-block__info.slider-info
                a.slider-info__link(href='#') 15% скидка
                h3.slider-info__service-name Консультация репродуктолога
                span.slider-info__city-name Санкт-Петеребург
        div.slider-block
            img.slider-block__image(src='./img/slider-img-2.svg' alt='slider image 2')
            div.slider-block__info.slider-info
                a.slider-info__link(href='#') Бесплатный приём
                h3.slider-info__service-name Первый прием по программе ЭКО
                span.slider-info__city-name Москва