section.map-container
    div.help-window
        h2.help-window__title Клиники репродуктологии и ЭКО в Казани
        div.help-window__other-info
            span.count-of-services 5 клиник,
            span.count-of-comments 230 отзывов
        button.help-window__btn(data-hover='Подобрать клинику'): span.decoration_element Подобрать клинику
    div#map