doctype html
html(lang='ru')
    - var pathToImg = 'img/'
    head
        include ../blocks/head/head
    body
        div.advertising228
        .content_wrapper
            include ../blocks/header/header
            include ../blocks/section-1/section-1
            include ../blocks/section-2/section-2
        //script(src='scripts/main.js')
