section#content-blocks
    div.block
        h2.block__title Зачатие
        p.block__description Планируете зачать ребёнка? Этот раздел для вас, мы собрали всё от начала планирования до зачатия
        div.block__links
            a.link(href='#') Планирование беременности для будущих мам, мам, мам
            a.link(href='#') Планирование для будущих мам
            a.link(href='#') Когда пора обратиться к репродуктологу
            a.link(href='#') Секс, работа и путешествия: что можно при планировании
        button.block__button Ещё
    div.block
        h2.block__title Бесплодие
        p.block__description Планируете зачать ребёнка? Этот раздел для вас, мы собрали всё от начала планирования до зачатия
        div.block__links
            a.link(href='#') Женское бесплодие
            a.link(href='#') Мужское бесплодие
            a.link(href='#') Когда пора обратиться к репродуктологу
            a.link(href='#') Секс, работа и путешествия: что можно при планировании
        button.block__button Ещё
    div.block
        h2.block__title Всё об ЭКО
        p.block__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis eveniet laboriosam laudantium maxime, provident reiciendis.
        div.block__links
            a.link(href='#') Планирование беременности для будущих мам
            a.link(href='#') Планирование для будущих мам
            a.link(href='#') Когда пора обратиться к репродуктологу
            a.link(href='#') Секс, работа и путешествия: что можно при планировании
        button.block__button Ещё
    div.block
        h2.block__title Медицинские случаи
        p.block__description Adipisci doloremque minus rerum sapiente sint?
        div.block__links
            a.link(href='#') Планирование беременности для будущих мам
            a.link(href='#') Планирование для будущих мам
            a.link(href='#') Когда пора обратиться к репродуктологу
            a.link(href='#') Секс, работа и путешествия: что можно при планировании
        button.block__button Ещё