div.header-strip
    button.header-strip__inner-element.menu-button
        img.menu-button__icon(src='./img/menu-ico.svg' alt='menu icon')
        span.menu-button__button-name Menu
    div.header-strip__inner-element.search-area
        label.search-area__icon(for='search-area'): img(src='./img/search-ico.svg' alt='search icon')
        input.search-area__input(id='search-area' placeholder='Поиск по зачатию')
    div.header-strip__inner-element.logo
        img.logo__image(src='./img/logo.svg' alt='logo')
    div.header-strip__inner-element.account
        img.account__icon(src='./img/avatar.svg' alt='avatar icon')
        a.account__text(href='#') Мой дневник
div.header-introducing
    div.header-introducing__text.header-main-part
        img.header-main-part__fav-ico(src='./img/fav-ico.svg' alt='fav icon')
        h3.header-main-part__subtitle бэбиблог
        h1.header-main-part__title зачатие
        p.header-main-part__description Всё о естественном планировании беременности, репродуктологии, бесплодии и процедурах ЭКО
    div.header-introducing__links-block.links-block
        a.links-block__link(href='#') Зачатие
        a.links-block__link(href='#') Бесплодие
        a.links-block__link(href='#') Всё об ЭКО
        a.links-block__link(href='#') Вопросы